/* Text */
button.background-primary {
  color: var(--clr-onPrimary);
}

button.background-onPrimary {
  color: var(--clr-primary);
}

button.background-outline {
  color: var(--clr-onOutline);
}

button.background-onOutline {
  color: var(--clr-outline);
}

button.background-background {
  color: var(--clr-onBackground);
}

button.background-onBackground {
  color: var(--clr-background);
}

/* Hover */
button.background-primary:hover {
  background-color: rgba(var(--clr-rgb-primary), .8);
}

button.background-onPrimary:hover {
  background-color: rgba(var(--clr-rgb-onPrimary), .8);
}

button.background-outline:hover {
  background-color: rgba(var(--clr-rgb-outline), .8);
}

button.background-onOutline:hover {
  background-color: rgba(var(--clr-rgb-onOutline), .8);
}

button.background-background:hover {
  background-color: rgba(var(--clr-rgb-background), .8);
}

button.background-onBackground:hover {
  background-color: rgba(var(--clr-rgb-onBackground), .8);
}

/* Focus */
button.background-primary:focus {
  outline: solid var(--clr-outline);
}

button.background-onPrimary:focus {
  outline: solid var(--clr-outline);
}

button.background-outline:focus {
  outline: solid var(--clr-outline);
}

button.background-onOutline:focus {
  outline: solid var(--clr-outline);
}

button.background-background:focus {
  outline: solid var(--clr-outline);
}

button.background-onBackground:focus {
  outline: solid var(--clr-outline);
}